{
  "extends": "rallycoding",
  "rules": {
    "arrow-body-style": 0,
    "max-len": 0,
    "no-case-declarations": 0,
    "no-underscore-dangle": 0,
    "one-var-declaration-per-line": 0,
    "react/prop-types": ["error", { "ignore": ["navigation"] }],
    "no-restricted-syntax": ["error", "BinaryExpression[operator='in']"],
    "no-prototype-builtins": 0,
  }
}
